@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

:root {
  --dark: #5d4c52;
  --light: #f2ebbf;
  --blue: #8cbeb2;
  --red: #f06060;
  --yellow: #f3b562;
}

body {
  min-height: 100vh;
  font-family: "Kanit", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  padding: 2rem 2rem 0.5rem;
  font-size: 4rem;
  font-weight: 700;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: 2rem;
  border-radius: 0.25rem;
}

/* CONTROLS */

.side#controls {
  width: 20%;
  height: 500px;
  background-color: var(--light);
  padding: 2rem;
  color: var(--blue);
  border: 0.25rem solid var(--blue);
}

.slide-controls {
  font-size: 1.25rem;
}

#grid-size-slider {
  width: 60%;
  display: block;
  margin: 1rem auto;
}

#grid-size-display {
  font-weight: bold;
}

button {
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  border: 0.1rem solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  margin-bottom: 1rem;
  transition: 0.5s ease;
}

button:hover {
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
}

/* CANVAS */

#canvas {
  min-width: 500px;
  height: 500px;
  aspect-ratio: 1;
  background-color: var(--light);
  display: flex;
  flex-wrap: wrap;
  border: 0.25rem solid var(--blue);
}

.grid-square {
  box-sizing: border-box;
  border: 1px solid var(--blue);
}

footer {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--blue);
  color: var(--dark);
}
